<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>MOLICAFE</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MOLICAFE</title>
  <link rel="icon" href="../public/img/imagen0.jpg">
  <link rel="stylesheet" href="../public/css/hf.css">
  <link rel="stylesheet" href="../public/css/cuerpo.css">





</head>



<body>
  <header>
    <div class="content-header">
      <div class="titulo">
        <img class="loguito" src="../public/img/logo.jpg" alt="">
        <h1>MOLICAFE</h1>
        
      </div>

      <div class="menu">
        <nav>
          <ul>
            <li><a href="../views/index.html">Inicio</a></li>
            <li><a href="../views/nosotros.html">Nosotros</a></li>
            <li><a href="../views/productos.html">Productos</a></li>
            <li><a href="#"></a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>


    <section class="content-body2">
       <article class="img-body">
       </article>

       <article class="history-body">
        <iframe src="../views/historianosotros.html" width="100%" height="550px" frameborder="0"></iframe>
       </article>




    </section>



  <footer class="content-footer">

    <div class="logo-footer">
      <h1>MOLICAFE</h1>
    </div>

    <div class="sub-content">

      <div class="correo-footer">
        <h4>correo: molicafe.quindio@gmail.com</h4>
      </div>

      <div class="redes-footer">
        <a href="#"> <img src="../public/img/facebook.png" alt="facebook"></a>
        <a href="#"> <img src="../public/img/instagram.png" alt="instagram"></a>
      </div>

      <div class="telefono-footer">
        <h4>Telefonos: 3148467016 - 3146211243</h4>
      </div>



    </div>
  </footer>




</body>




</html>
