<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>MOLICAFE</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MOLICAFE</title>
  <link rel="icon" href="../public/img/imagen0.jpg">
  <link rel="stylesheet" href="../public/css/hf.css">
  <link rel="stylesheet" href="../public/css/cuerpo.css">





</head>


<body>
  <header>
    <div class="content-header">
      <div class="titulo">
        <img class="loguito" src="../public/img/logo.jpg" alt="">
        <h1>MOLICAFE</h1>
      </div>

      <div class="menu">
        <nav>
          <ul>
            <li><a href="../views/index.html">Inicio</a></li>
            <li><a href="../views/nosotros.html">Nosotros</a></li>
            <li><a href="../views/productos.html">Productos</a></li>
            <li><a href="#"></a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <section>
    <section class="content-body3">



    </section>








    
    <!--aqui empieza el contenido de las cards-->
<div class="content-card">
  <div class="card-flip">
   <div class="card">
     <div class="card-delantera" style="background-image: url(../public/img/card1.jpeg);">
      <div class="bg"></div>
       <div class="contenido-card-delantera">
             <h1>Café frio 12 onzas    </h1>
       </div>
     </div>
   

   <div class="card-atras">
       <div class="contenido-card-atras">
             <h1>Comunicaciones</h1>
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero ab exercitationem, facere soluta reiciendis laboriosam repellat obcaecati assumenda laudantium iusto modi aut, maiores debitis. Ex nulla maiores ut recusandae eligendi.</p>
             <input type="butto" value="leer mas">
       </div>
     </div>
   </div>
  </div>

  <div class="card-flip">
    <div class="card">
      <div class="card-delantera" style="background-image: url(../public/img/card2.jpeg);">
       <div class="bg"></div>
        <div class="contenido-card-delantera">
              <h1>Brownie con helado    $7.000</h1>
        </div>
      </div>
    
 
    <div class="card-atras">
        <div class="contenido-card-atras">
              <h1>Datacenter</h1>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero ab exercitationem, facere soluta reiciendis laboriosam repellat obcaecati assumenda laudantium iusto modi aut, maiores debitis. Ex nulla maiores ut recusandae eligendi.</p>
              <input type="butto" value="leer mas">
        </div>
      </div>
    </div>
   </div>

   <div class="card-flip">
    <div class="card">
      <div class="card-delantera" style="background-image: url(../public/img/card3.jpeg);">
       <div class="bg"></div>
        <div class="contenido-card-delantera">
              <h1>Café Afogatto     $ 7.000</h1>
        </div>
      </div>
    
 
    <div class="card-atras">
        <div class="contenido-card-atras">
              <h1>Mantenimiento</h1>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero ab exercitationem, facere soluta reiciendis laboriosam repellat obcaecati assumenda laudantium iusto modi aut, maiores debitis. Ex nulla maiores ut recusandae eligendi.</p>
              <input type="butto" value="leer mas">
        </div>
      </div>
    </div>
   </div>

</div>


<div class="content-card">
  <div class="card-flip">
   <div class="card">
     <div class="card-delantera" style="background-image: url(../public/img/card4.jpeg);">
      <div class="bg"></div>
       <div class="contenido-card-delantera">
             <h1>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga, omnis!</h1>
       </div>
     </div>
   

   <div class="card-atras">
       <div class="contenido-card-atras">
             <h1>Comunicaciones</h1>
             <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero ab exercitationem, facere soluta reiciendis laboriosam repellat obcaecati assumenda laudantium iusto modi aut, maiores debitis. Ex nulla maiores ut recusandae eligendi.</p>
             <input type="butto" value="leer mas">
       </div>
     </div>
   </div>
  </div>

  <div class="card-flip">
    <div class="card">
      <div class="card-delantera" style="background-image: url(../public/img/card5.jpeg);">
       <div class="bg"></div>
        <div class="contenido-card-delantera">
              <h1>Chocolate con mámelos  $ 7.500</h1>
        </div>
      </div>
    
 
    <div class="card-atras">
        <div class="contenido-card-atras">
              <h1>Datacenter</h1>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero ab exercitationem, facere soluta reiciendis laboriosam repellat obcaecati assumenda laudantium iusto modi aut, maiores debitis. Ex nulla maiores ut recusandae eligendi.</p>
              <input type="butto" value="leer mas">
        </div>
      </div>
    </div>
   </div>

   <div class="card-flip">
    <div class="card">
      <div class="card-delantera" style="background-image: url(../public/img/card6.jpeg);">
       <div class="bg"></div>
        <div class="contenido-card-delantera">
              <h1>Banana Split    $11.000</h1>
        </div>
      </div>
    
 
    <div class="card-atras">
        <div class="contenido-card-atras">
              <h1>Mantenimiento</h1>
              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero ab exercitationem, facere soluta reiciendis laboriosam repellat obcaecati assumenda laudantium iusto modi aut, maiores debitis. Ex nulla maiores ut recusandae eligendi.</p>
              <input type="butto" value="leer mas">
        </div>
      </div>
    </div>
   </div>

</div>
<!--aqui termina el contenido de las cards-->












  </section>


  <footer class="content-footer">

    <div class="logo-footer">
      <h1>MOLICAFE</h1>
    </div>

    <div class="sub-content">

      <div class="correo-footer">
        <h4>correo: molicafe.quindio@gmail.com</h4>
      </div>

      <div class="redes-footer">
        <a href="#"> <img src="../public/img/facebook.png" alt="facebook"></a>
        <a href="#"> <img src="../public/img/instagram.png" alt="instagram"></a>
      </div>

      <div class="telefono-footer">
        <h4>Telefonos: 3148467016 - 3146211243</h4>
      </div>



    </div>
  </footer>




</body>




</html>